@font-face {
    font-family: "OngleleafYeji927";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYeji927/OngleleafYeji927.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYeji927/OngleleafYeji927.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafYeji927/OngleleafYeji927.ttf") format("truetype");
    font-display: swap;
}

.OngleleafYeji927 {
    font-family: "OngleleafYeji927";
}
